<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plotly Report</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="Translonpredictor/stylereport.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <img src="Translonpredictor/Translon predictor_transparent.png" 
                alt='Translon predicor' class="logo">
                <div class="header-right">
                <a class="active" href="https://trips.ucc.ie/">Home</a>
                <a href="https://trips.ucc.ie/contactus/">Contact</a>
                </div>
        </div>
        <div class="main">
            <h1>Report {{ filename }}</h1>
            <hr>
            <div class="tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="general-tab" data-bs-toggle="tab"
                        data-bs-target="#general" type="button" role="tab" 
                        aria-controls="general" aria-selected="true">General info</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="metagene-tab" data-bs-toggle="tab"
                        data-bs-target="#metageneplot" type="button" role="tab" 
                        aria-controls="metagene" aria-selected="false">Metagene plots</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="transcript-tab" data-bs-toggle="tab"
                        data-bs-target="#transcriptplot" type="button" role="tab" 
                        aria-controls="transcript" aria-selected="false">Transcript plots</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <h2>Parameters for this run</h2>
                    <div class="parameters">
                        <table>
                        {% for key,val in parameters.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ val }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="belowparam">    
                        <h2>Translon table</h2>
                        <div class="orftable">
                            <p id="orftable">
                            Below, you can find a table containing all information of the
                            top 10 translons of every type identified
                            </p>
                            {{ table|safe }}
                        </div>
                        <h2>Summary plot</h2>
                        <div class="summaryplot">{{ tranplot|safe }}</div>
                    </div>
                </div>

                <div class="tab-pane fade" id="metageneplot" role="tabpanel" 
                    aria-labelledby="metagene-tab">
                    <h2>Metagene plots</h2>
                    <p id="metageneplots">
                        This section consists of metagene plots for every type identified
                        for it's start (left) and stop (right) position
                    </p>
                    <div class="metagene_header" id="start"><h3>Start</h3></div>
                    <div class="metagene_header" id="stop"><h3>Stop</h3></div>
                    <br>
                    {% for plot in plotlist %}
                    <div class="metageneplot">{{ plot|safe }}</div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="transcriptplot" role="tabpanel" 
                    aria-labelledby="transcript-tab">
                    <i><small>If the plots only take up half of the screen, please press F12 twice or reload the page</small></i>
                    {% for plot in tranplotlist %}
                        <div class="transcript">{{ plot|safe }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer">
                <p>Generated by Plotly and Jinja2.</p>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
    </html>